
/* area de pesquisa */
#divBusca{
    background-color: white;
    border:solid 1px rgba(57, 55, 95, 0.6);
    border-radius:15px;
    width: 344.5px;
    /* width: 80%; */
    height: 34px;
    text-align: center;
    /* margin-left: 120px; */
}
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:0;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    /* width:290px; */
    /* width: 88%; */
    margin-left: 3%;
    outline: none;
    /* border: 1px solid red; */
}
#btnBusca {
    box-shadow: none;
    outline: none;
    border: none;
    background-color: white;
    margin-top: 5px;
    /* margin-right: -8%; */
}

/* filtro de pesquisa */
/* #list-itens {
    border: 1px solid yellow;
    
} */
#list-search {
    /* border: 1px solid red; */
    text-align: center;
    width: 25%;
}
/* #list-search #elevacao {
} */


/* ***********************************
config para diferentes tamanhos de tela */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* area de pesquisa */
    #divBusca {
        width: 75.5%;
        margin-right: 10%;
    }
    #txtBusca {
        width: 81.5%;
    }
    #btnBusca {
        margin-right: -1%;
    }
}

/* Small devices (landscap phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    /* area de pesquisa */
    #divBusca {
        width: 80%;
        margin-right: 9%;
    }
    #txtBusca {
        width: 88%;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    /* area de pesquisa */
    #divBusca {
        /* width: 345.5px; */
        width: 100%;
        margin-right: 2%;
    }
    #txtBusca {
        width: 87%;
    }
    #btnBusca {
        margin-right: -2%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* area de pesquisa */
    #divBusca {
        /* width: 345.5px; */
        width: 60%;
        margin-right: 10px;
        margin-left: 185px;
    }
    #txtBusca {
        width: 90%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* area de pesquisa */
    #divBusca {
        /* width: 345.5px; */
        width: 53%;
        margin-left: 285px;
    }
    #txtBusca {
        width: 91%;
    }
    /* #btnBusca {
        margin-right: -1%;
    } */
}