body {
    margin: 0;
    padding: 0;
    /* background:linear-gradient(50deg, #3d3c3c, #2b2a2a); */
    background:linear-gradient(50deg, white, white);
    /* background-attachment: fixed; */
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
    /* width: 100%; */
}

/* topo e capa */
header {
    /* border: 1px solid red; */
    /* background: #a5a5a5; */
    background:linear-gradient(50deg, #616161, #535252);
    text-align: center;
    height: 65px;
}

/* Barra de navegação
-----------------------------------*/
nav.navbar-transparente {
    padding: 3px 8px;
    background-attachment: fixed;
    background: linear-gradient(
            0.25turn,
            rgba(3, 0, 19, 0.651),
            rgba(78, 79, 80, 0.678),
            rgba(3, 0, 19, 0.651)
    );
    /* background:linear-gradient(25deg, rgba(255, 255, 255, 0.65), rgba(20, 6, 88, 0.65)); */
    /* background: rgba(31, 24, 68, 0.65); */
    /* text-align: start; */
    
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}
.navbar-light .navbar-toggler {
    color: rgba(255,255,255, 0.5);
    border-color: rgba(255,255,255, 0.5);
    box-shadow: none;
}


/* config imgs carousel */
#imgs-carousel {
    width: 67%;
    border-radius: 7px 7px;
    border: 1px solid transparent;
}
.carousel-control-next, .carousel-control-prev {
    /* border: 0.5px solid #ffffff; */
    width: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
}
#div-carousel {
    background:linear-gradient(50deg, #616161, #535252);
    /* border: 0.5px solid #ffffff; */
}

/* lista de imgs e produtos */
section #div-imgs {
    /* background:linear-gradient(50deg, #3d3c3c, #2b2a2a); */
    /* border-bottom: 0.5px solid rgb(75, 75, 75);  */
    border-bottom: 0.5px solid rgba(207, 207, 207, 0.705);
    border-radius: 6px;
    /* background: #ffffff; */
}
section #div-imgs img {
    border: 0.5px solid transparent;
    border-radius: 3px;
}
#elevacao {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: relative;
}
#elevacao:hover {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.877);
    padding: 0px;
    transition: all .4s ease;
    opacity: 1;
    border-radius: 4px;
}

* a {
    text-decoration: none;
}
section h5 {
    /* color: rgb(226, 226, 241); */
    color: rgb(18, 18, 109);
}
.real {
    /* color: rgb(219, 240, 219); */
    color: rgb(51, 90, 51);
    padding: 0;
    margin: 0;
    font-size: medium;
}
section p {
    color: gray;
    padding: 0;
    margin: 0;
    font-size: small;
}

/* ***********************************
config para diferentes tamanhos de tela */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* lista de imgs e produtos */


    /* navegação */
    nav.navbar-transparente {
        padding: 8px 8px;
        text-align: start;
    }
    .d-block {
        display: inline-flex!important;
    }

    /* lista de produtos */
    section h5 {
        font-size: 13px;
    }
    .real {
        font-size: 11.5px;
        padding: 0;
        margin: 0;
    }
    section p {
        font-size: 10.5px;
        padding: 0;
        margin: 0;
    }
}

/* Small devices (landscap phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    /* lista de imgs e produtos */
    
    /* navegação */
    nav.navbar-transparente {
        padding: 8px 8px;
        text-align: start;
    }
    .d-block {
        display: inline-flex!important;
    }

    /* lista de produtos */
    section h5 {
        font-size: 13.5px;
    }
    .real {
        font-size: 11.9px;
        padding: 0;
        margin: 0;
    }
    section p {
        font-size: 10.9px;
        padding: 0;
        margin: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

    /* lista de imgs e produtos */
    section #list-imgs {
        width: 235px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

    /* lista de imgs e produtos */
    section #list-imgs {
        width: 315px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}